- name: Création de la base de données
  mysql_db:
    name: "{{ db_name }}"
    state: present
    login_user: root
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Création de l'utilisateur MySQL pour la page PHP
  mysql_user:
    name: "{{ db_user }}"
    password: "{{ db_password }}"
    host: "%"
    priv: "{{ db_name }}.*:ALL"
    state: present
    login_user: root
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Copier le schema SQL sur le serveur
  copy:
    src: roles/db/files/schema.sql   # chemin sur le control node
    dest: /tmp/schema.sql            # chemin sur la machine cible
    owner: root
    group: root
    mode: '0644'

- name: Import du schema SQL
  mysql_db:
    name: "{{ db_name }}"
    state: import
    target: /tmp/schema.sql
    login_unix_socket: /var/run/mysqld/mysqld.sock
    