---
- name: Installer UFW
  apt:
    name: ufw
    state: present
    update_cache: yes

- name: Politique par défaut ,refuser tout en entrée
  ufw:
    default: deny
    direction: incoming

- name: Politique par défaut ,autoriser tout en sortie
  ufw:
    default: allow
    direction: outgoing

- name: Autoriser SSH
  ufw:
    rule: allow
    name: OpenSSH

- name: Autoriser HTTP (port 80)
  ufw:
    rule: allow
    port: "80"
    proto: tcp

- name: Autoriser HTTPS (port 443)
  ufw:
    rule: allow
    port: "443"
    proto: tcp

- name: Activer UFW
  ufw:
    state: enabled
